:root {
  --primary-color: #6cb3e3;
  --secondary-color: #f5f2fe;
  --third-color: #f0edfa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.logo {
  max-width: 100px;
  margin-right: 50px;
}

.greetings {
  background: var(--third-color);
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.greetings h3 {
  padding-bottom: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-weight: bold;
}

.btn-about {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
}

.project-description {
  padding: 80px 40px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding-top: 15px;
}

.email-link:hover {
  text-decoration: underline;
}

.btn-light {
  border-radius: 4px;
  padding: 20px 15px;
  margin-top: 40px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

footer {
  margin-top: 150px;
  margin-bottom: 60px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--secondary-color);
}

@media (max-width: 800px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  p {
    font-size: 15px;
  }

  .greetings h3 {
    padding-bottom: 0;
  }

  .navigation-links {
    margin: 0 auto;
  }
  .primary-link {
    display: flex;
    justify-content: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .email-link {
    font-size: 25px;
  }
}
